<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Event Horizon</title>
    <link rel="stylesheet" href="/public/css/styles.css">

</head>
<body>
    <h1>Events Dashboard</h1>
    <div id="eventLists">

        <ul id="newEvents">   
        </ul>

        <ul id="popularEvents">   
        </ul>

        <ul id="upcomingEvents">   
        </ul>
        <script> 
            // TODO: Display new events
        </script>
    </div>
</body>
</html>