        <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Event Horizon</title>
    <link rel="stylesheet" href="/public/css/styles.css">

</head>
    <body>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/create-event">Create event</a></li>
                <li><a href="/bookmarks">Bookmarks</a></li>
                <li><a href="/calendar">Calendar</a></li>
                <li><a href="/user">User profile</a></li>
                <li><a href="/verify-organizer">Become an Official Organizer</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </body>
</html>