
    <div id="calendar-container">
        <header>
            <div id="navigation">
                <button id="prev-month">Previous</button>
                <h1 id="month-year"></h1>
                <button id="next-month">Next</button>
            </div>
        </header>
        <table id="calendar">
            <thead>
                <tr>
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
<script type="module" src="../public/js/calendar.js"></script>
