
    <body>
    <h1>Login to enter the site</h1>
    <form id="signin-form" action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <label for="password">Password:</label>
        <input type="password"  id="password" name="password">
        <button id="submitButton" type="submit" name="submitButton">Submit</button>
    </form>
    <a href="/register">Don't have an account? Click here to Register!</a>
</body>