

    <h1>Apply to become an official event organizer!</h1>
    <form id="eventVerificationForm" action="/verify-event" method="POST">
        <label for="organizationName">organizationName:</label>
        <input type="text" id="organizationName" name="organizationName" required placeholder="Enter your organization's name">
        
        <label for="contactEmail">Contact Email:</label>
        <input type="email" id="contactEmail" name="contactEmail" required placeholder="Enter your contact email">

        <label for="website">Website:</label>
        <input type="url" id="website" placeholder="Enter your organization's name">

        <label for="website">Additional information:</label>
        <input type="url" id="website" placeholder="Enter your organization's name">

        <button id="submitButton" type="submit" name="submitButton">Submit</button>
    </form>
</body>

